<div class='container'>

  <header class='masthead'>
    <nav class='navbar navbar-default' role='navigation'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle'
              data-toggle='collapse' data-target='#main-nav-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          {{#link-to 'application' class='navbar-brand'}}Dashboard{{/link-to}}
        </div>

        <div class='collapse navbar-collapse' id='main-nav-collapse'>
            <ul class='nav navbar-nav'>
                {{#link-to 'index' tagName='li' activeClass='active'}}
                    {{#link-to 'index'}}Home{{/link-to}}
                {{/link-to}}
                {{#link-to 'orders' tagName='li' activeClass='active'}}
                  {{#link-to 'orders'}}Orders{{/link-to}}
                {{/link-to}}
              </ul>
            </div>
      </div>
    </nav>
  </header>

  <section class='main-content'>
    {{outlet}}
  </section>

</div>
